<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>vehicle</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <style>
        .colorHover:hover{
            background-color: #e7f1ff;
        }
    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                千羽
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/ts/accident/warning">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ts/accident/vehicles(pageNum=1)}">车辆信息管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">企业文化</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">多人协作</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">联系我们</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" action="/ts/accident/searchVehicle">
                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search" style="width: 400px">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
            <div class="p-2 bd-highlight">
                <div class="btn-group dropdown">
                    <button type="button"
                            class="btn dropdown-toggle btn-outline-success" style="position: relative" data-toggle="dropdown" aria-haspopup="true"
                            th:if="${session.login != null}" th:text="${session.login}"
                            aria-expanded="false">
                    </button>
                    <button type="button"
                            class="btn dropdown-toggle btn-outline-success" style="position: relative" data-toggle="dropdown" aria-haspopup="true"
                            th:if="${session.login == null}"
                            aria-expanded="false">
                        请登录
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/ts/accident/personal">个人管理</a>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger"><a href="/ts/accident/logOut" style="color: #b02a37" >退出</a></button>
            </div>
        </div>
    </nav>
</header>
<br><br>

<main>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">车辆信息</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">添加列表</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <br>
            <div style="width: 80%;background-color: white;margin-left: 10%">
                <table class="table table-sm table-bordered" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col-2"></th>
                        <th scope="col-3">车辆id</th>
                        <th scope="col-3">车牌号</th>
                        <th scope="col-2">车主姓名</th>
                        <th scope="col-2">车辆类型</th>
                        <th scope="col-3">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicle:${vehicles}" class="colorHover">
                        <th scope="row" th:text="${vehicleStat.index}">1</th>
                        <td th:text="${vehicle.getId()}"></td>
                        <td th:text="${vehicle.getVNum()}">Mark</td>
                        <td th:text="${vehicle.getVName()}">Otto</td>
                        <td th:text="${vehicle.getVType()}">@mdo</td>
                        <td>
                            <a class="nav-link" href="#" style="float: left" data-toggle="modal" onclick="openAddModale(this)">编辑</a>
                            <a class="nav-link" href="#" style="float: left" data-toggle="modal" onclick="openDeleteModale(this)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- 分页 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:if="${pageNum > 1}" th:href="@{/ts/accident/vehicles(pageNum=${pageNum}-1)}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">首页</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" th:if="${pageNum > 2}" th:href="@{/ts/accident/vehicles(pageNum=${pageNum}-2)}" th:text="${pageNum}-2">1</a></li>
                        <li class="page-item"><a class="page-link" th:if="${pageNum > 1}" th:href="@{/ts/accident/vehicles(pageNum=${pageNum}-1)}" th:text="${pageNum}-1">2</a></li>
                        <li class="page-item"><a class="page-link" th:href="@{/ts/accident/vehicles(pageNum=${pageNum})}" th:text="${pageNum}">3</a></li>
                        <li class="page-item"><a class="page-link" th:if="${next1}" th:href="@{/ts/accident/vehicles(pageNum=${pageNum}+1)}" th:text="${pageNum}+1">3</a></li>
                        <li class="page-item"><a class="page-link" th:if="${next2}" th:href="@{/ts/accident/vehicles(pageNum=${pageNum}+2)}" th:text="${pageNum}+2">3</a></li>
                        <li class="page-item">
                            <a class="page-link" th:if="${next1}" th:href="@{/ts/accident/vehicles(pageNum=${pageNum}+1)}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">next</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
           <div class="container" style="width: 25%;margin-top: 10rem">
               <form class="form-signin" action="/ts/accident/insertVehicle" method="post">
                   <h1 class="h3 mb-3 font-weight-normal">添加车辆信息</h1>
                   <div class="form-group">
                       <label for="vNum">车牌号：</label>
                       <input name="vNum" type="text" class="form-control" id="vNum" placeholder="" required>
                       <div class="invalid-feedback">
                           Your ID is required.
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="vName">车主姓名：</label>
                       <input name="vName" type="text" class="form-control" id="vName" placeholder="" required>
                       <div class="invalid-feedback">
                           Your name is required.
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="vType">车辆类型：</label>
                       <input name="vType" type="text" class="form-control" id="vType" placeholder="">
                   </div>

                   <button type="submit" class="btn btn-primary btn-lg btn-block">添加数据</button>
               </form>
           </div>
        </div>
    </div>



    <!-- 编辑Modal -->
    <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">车辆信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/ts/accident/updateVehicle" method="post">
                    <div class="modal-body" style="font-size: large">
                        <input id="ide" type="hidden" name="id">
                        车牌号：<input id="vNume" name="vNum" class="form-control" type="text">
                        车主姓名：<input id="vNamee" name="vName" class="form-control" type="text">
                        车辆类型：<input id="vTypee" name="vType" class="form-control" type="text">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 删除Modal -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTitle">删除</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/ts/accident/deleteVehicle" method="post">
                    <div class="modal-body">
                        <p style="font-weight: bolder;font-size: large">请谨慎操作！</p>
                        <br>
                        <p style="font-weight: bolder;font-size: large">这将删除一条车辆信息！</p>
                        <input id="idd" name="id" type="hidden">
                        <input id="vNumd" name="vNum" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">删除</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script language="javascript">
    function openAddModale(obj) {
        $("#editor").modal('show');
        //获取点击行的某一列的值
        //var stuno = document.getElementById("table").rows[2].cells[0].innerText;
        //alert(stuno);
        //获取当前点击行的id
        var $td = $(obj).parents('tr').children('td');
        var id = $td.eq(0).text();
        var vNum = $td.eq(1).text();
        var vName = $td.eq(2).text();
        var vType = $td.eq(3).text();
        $("#ide").val(id);//将获取的该行的id值填充到模态框的文框中，文本框的ID为itemmodalid，其他的数据也是如此处理
        $("#vNume").val(vNum);
        $("#vNamee").val(vName);
        $("#vTypee").val(vType);
     }

    function openDeleteModale(obj) {
        $("#delete").modal('show');
        //获取点击行的某一列的值
        //var stuno = document.getElementById("table").rows[2].cells[0].innerText;
        //alert(stuno);
        //获取当前点击行的id
        var $td = $(obj).parents('tr').children('td');
        var id = $td.eq(0).text();
        var vNum = $td.eq(1).text();
        $("#idd").val(id);//将获取的该行的id值填充到模态框的文框中，文本框的ID为itemmodalid，其他的数据也是如此处理
        $("#vNumd").val(vNum);
    }
</script>
</body>
</html>