<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射SQL语句 -->
<!-- namespace：名称空间指定为接口的全类名 -->
<mapper namespace="com.why.transportsecurity_finally.mapper.AccidentInfoMapper">
    <select id="getAccidentInfoById" resultType="com.why.transportsecurity_finally.entity.AccidentInfo">
        select * from tbl_accident_info where id = #{id}
    </select>

    <select id="getAccidentInfoByVId" resultType="com.why.transportsecurity_finally.entity.AccidentInfo">
        select * from tbl_accident_info where v_id = #{vId}
    </select>

    <select id="getAllAccidentInfoSolve" resultType="com.why.transportsecurity_finally.entity.AccidentInfo">
        select * from tbl_accident_info where state = 1
    </select>

    <select id="getAllAccidentInfoUnSolve" resultType="com.why.transportsecurity_finally.entity.AccidentInfo">
        select * from tbl_accident_info where state = 0
    </select>

    <update id="updateState">
        update tbl_accident_info set state = 1 where id = #{aId}
    </update>

    <delete id="deleteAccident">
        delete from tbl_accident_info where v_id = #{vId}
    </delete>
</mapper>