<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    var countdown=60;
    function settime(obj) {
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value="免费获取验证码";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value="重新发送(" + countdown + "s)";
            countdown--;
        }
        setTimeout(function() {
                settime(obj) }
            ,1000)
    }


    $.ajax({
        url: "/greet",
        data: {name: 'jenny'},
        type: "POST",
        dataType: "json"
    });

</script>
<input />
<input type="button" id="btn" value="点击获取验证码" onclick="settime(this)" />
</body>
</html>